import { Exception } from '@athenna/common'

export class {{ namePascal }} extends Exception {
  public constructor(message: string) {
    const status = 500
    const help = undefined
    const code = 'E_{{ namePascalUpperCase }}'

    super({ code, help, status, message })
  }
}
