import { Facade } from '@athenna/ioc'
import type { {{ namePascal }}Impl } from '#app/services/{{ namePascal }}'

export const {{ namePascal }} = Facade.createFor<{{ namePascal }}>('App/Services/{{ namePascal }}')
