import { ServiceProvider } from '@athenna/ioc'

export default class {{ namePascal }} extends ServiceProvider {
    /**
    * Register any application service provider.
    *
    * @return {void|Promise<void>}
    */
    async register() {}

    /**
    * Bootstrap any application service provider.
    *
    * @return {void|Promise<void>}
    */
    async boot() {}
}
