import { Test, type Context } from '@athenna/test'
import { BaseCliTest } from '@athenna/core/testing/BaseCliTest'

export default class {{ namePascal }} extends BaseCliTest {
  @Test()
  public async shouldBeAbleToExecuteCliCommands({ command }: Context) {
    const output = await command.run('greet')

    output.assertSucceeded()
    output.assertLogged('Hello World!')
  }
}
