import { Test } from '@athenna/test'
import type { Context } from '@athenna/test/types'

export default class {{ namePascal }} {
  @Test()
  public async shouldBeEqual({ assert }: Context) {
    assert.equal(1, 1)
  }
}
