name: CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: '21.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm install

      - name: Compile code
        run: npm run build

      - name: Install production dependencies
        run: cd build && npm ci --omit=dev

      - name: Automatic GitHub Release
        uses: justincy/github-action-npm-release@2.0.1
        id: release

      - name: Publish to NPM Registry
        run: cd build && npm publish --provenance --access public
        if: steps.release.outputs.released == 'true'
        env:
          name: Deploy
